/*Css Border and Outline Properties*/

/*

solid
dashed
dotted
ridge
inset
outset
hidden
double
none
groove

*/

.div-1{
	height: 200px;
	width:200px ;
	/*border:border-width border-style border-color;*/
	border-width:10px;
	border-style:groove;
	border-image:linear-gradient( 45deg , green , orange) 1;
	/*border:10px solid green;*/
	/*border-top:none;*/
	/*border-top:5px solid purple;*/
	/*border-block-end: 5px solid gray;*/
	margin: 100px;
}

/* Outline Properties */

*{
	box-sizing: border-box;
	margin: 0;
	padding: 0;
}

.div-1{
	/*outline: 10px solid green;*/
	outline-offset: 2px;
}
/*
h1{
	font-size: 50px;
	font-weight: bold;
	font-family: roboto;
	background-image: url(../images/pexels.jpg);
	color: transparent;
	background-clip: text;
}

.box > p{
	background-color: green;
	color:white;
}

.maindiv .box p{
	background: orange;
}*/

h1 + p {
	background: orange;
}

h1 ~ p {
	background: green;
}